<?xml version="1.0" encoding="UTF-8"?>
<!-- Converted by db4-upgrade version 1.0 -->
<article version="5.0" xmlns="http://docbook.org/ns/docbook"
         xmlns:xlink="http://www.w3.org/1999/xlink"
         xmlns:ns5="http://www.w3.org/1999/xhtml"
         xmlns:ns4="http://www.w3.org/1998/Math/MathML"
         xmlns:ns3="http://www.w3.org/2000/svg"
         xmlns:ns="http://docbook.org/ns/docbook">
  <info>
    <title>Usage</title>

    <author>
      <personname><firstname>Kathryn</firstname><surname>Huxtable</surname></personname>

      <affiliation>
        <orgname>kathrynhuxtable.org</orgname>
      </affiliation>
    </author>

    <pubdate>2010-04-07</pubdate>
  </info>

  <section>
    <info>
      <title>Usage</title>
    </info>

    <para>You need to add the following to your site.xml file:</para>

    <programlisting language="xml">&lt;project&gt;
  ...
  &lt;skin&gt;
    &lt;groupId&gt;org.kathrynhuxtable.maven.skins&lt;/groupId&gt;
    &lt;artifactId&gt;green-site-skin&lt;/artifactId&gt;
    &lt;version&gt;${project.version}&lt;/version&gt;
  &lt;/skin&gt;
  ...
&lt;/project&gt;</programlisting>
  </section>
</article>
